.container {
    margin: 100px 0 0 200px;
    width: 80%;
    height: 450px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    overflow: hidden;
}
.container img {
    width: 90%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(15, 111, 190);
    transition: all ease-in-out 0.5s;
}

.container img:hover {
    width: 100%;
}
