<<<<<<< HEAD
.container {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container.img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid red;
    transition: all ease-in-out 0.5s;
}

.container.img:hover{
    width: 25%;
}
=======


body {
    background-image: url('man-in-water.png');
    background-size: contain;      
    background-position: right center ; 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
}

>>>>>>> 3d92876abce158af18f239679c7c5c759a21f756
